<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.shxt.model.User">
       <!-- <select id="load" parameterType="int" resultType="map">
            select * from web_user where id = #{id}
       </select> -->
       <insert id="add" parameterType="com.shxt.model.User"  keyProperty="id" useGeneratedKeys="true">
            insert into web_user(account,user_name,password) 
            values(#{account},#{user_name},#{password});
       </insert>
       <update id="update" parameterType="com.shxt.model.User" >
            update web_user set account = #{account},user_name = #{user_name},password = #{password} where id = #{id}
       </update>
       <select id="load" parameterType="int" resultType="com.shxt.model.User">
            select * from web_user where id = #{id};
       </select>
       <select id="listAll"  resultType="com.shxt.model.User">
            select * from web_user 
       </select>
       <select id="list" parameterType="map"  resultType="com.shxt.model.User">
            select * from web_user where account = #{account} and password = #{password}
       </select>
  </mapper>